llama-index
llama-index-llms-groq
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma

streamlit
chromadb
sentence-transformers
pypdf
fastapi

python-dotenv
pandas
numpy

torch
transformers
accelerate
